<div style="text-align:center">
  <table border="1">
    <thead>
        <tr>
          <td>floor</td>
          <td *ngFor="let elevator of options.elevatorsArray">elevator #{{ elevator }}</td>
          <td>request elevator</td>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let floor of options.floorsArray">
        <td>{{ floor }}</td>
        <td *ngFor="let elevator of options.elevatorsArray">
          <div [ngClass]="{waiting: isWaiting(floor, elevator)}">&nbsp;</div>
        </td>
        <td><button [ngClass]="{inQueue: isInQueue(floor)}" type="button" (click)="requestElevator(floor)">&#x25CF;</button></td>
      </tr>
    </tbody>
  </table>
 </div>

