<div *ngFor="let e of options.elevatorsArray" class="panel">
  <h3>elevator #{{ e }}</h3>
  <div class="small">{{ getElevatorById(e).state }}</div>
  <div class="small">{{ getElevatorById(e).direction }}</div>
  <div>
    <button [disabled]="shouldBeDisabled(e)" *ngFor="let f of options.floorsArray" (click)="chooseDestinationFloor(e,f)">{{ f }}</button>
  </div>
</div>
